*.class

.idea/
GameEngine/src/Main/BoardTest.java
*.class
out/production/CandyCrush/CandyCrushMain/CandyCrush.class
out/production/CandyCrush/CandyCrushMain/CandyCrushLevel.class
out/production/GameEngine/GameLogic/Move$1.class
out/production/GameEngine/GameLogic/Move.class
out/production/GameEngine/Main/Board.class
out/production/GameEngine/Main/Level.class
out/production/GameEngine/Manager/TurnManager.class